@font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
    src: local('SF Pro Regular'), local('SF-Pro-Regular'), url(assets\fonts\SF-Pro-Display-Regular.otf) format('opentype');
}

@font-face {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 700;
    src: local('SF Pro Bold'), local('SF-Pro-Bold'), url(assets\fonts\SF-Pro-Display-Bold.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    font-family: "Segoe UI", "Trebuchet MS", sans-serif;
}

header {
    background-color: #323232;
}

h1 {
    width: 800px;
    margin: 0 auto;
    font-size: 40px;
    color: #c8c8c8;
}

.photo {
    margin-right: 40px;
    float: left;
}

h1 {
    font-family: "SF Pro", sans-serif;
    font-weight: 700;
}

h2,
h3 {
    font-family: "SF Pro", sans-serif;
}

#summary h2 {
    font-size: 30px;
    font-weight: 700;
    color: #323232;
}

#summary h3 {
    font-size: 25px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
}

#summary {
    width: 800px;
    height: 200px;
    margin: 60px auto;
}

section {
    width: 800px;
    margin: 40px auto;
    border: 2px solid #323232;
    padding-bottom: 20px;
}

section .heading2 {
    padding-top: 10px;
    height: 45px;
    vertical-align: middle;
    background-color: #c8c8c8;
}

section h3 {
    text-indent: 20px;
    font-size: 25px;
    font-weight: 400;
}

section p {
    padding: 20px;
}

#skills .caption {
    display: inline-block;
    height: 20px;
}

.level {
    display: inline-block;
    height: 10px;
}

.part {
    display: inline-block;
    width: 60px;
    height: 10px;
    font-size: 1px;
    box-sizing: border-box;
}

.filled {
    background-color: #323232;
}

.empty {
    background-color: #c8c8c8;
}

label[for="C++"] {
    width: 50%;
    padding-left: 100px;
    background-color: #e5e5e5;
}

input.spoiler:checked+div {
    display: block;
    margin: 40px;
    background-color: #f2f2f2;
    border: 2px;
}

.code {
    padding: 40px;
}

input.spoiler {
    padding-top: 30px;
    color: #323232;
    -webkit-appearance: none;
    outline: none;
}

input.spoiler::before {
    width: 10px;
    color: #323232;
    content: "\25BC";
}

input.spoiler:checked::before {
    width: 10px;
    content: "\25B2";
}

.sample {
    display: none;
}

.about {
    color: #505050;
}

#work .date {
    font-style: italic;
}

#work .achievements {
    width: 400px;
    padding-left: 240px;
}

.achievements p {
    margin: 10px 0;
    border: 2px solid #a1a1a1;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #323232;
}

.contacts {
    font-size: 15px;
    color: #c8c8c8;
}

.contacts a {
    color: #c8c8c8;
}

footer h2 {
    width: 50%;
    color: #ffffff;
}

footer div {
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}